:root {
    --primary-color: #066a05;
    --secondary-color: #f4a451;
    --accent1-color: #272553;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #06469f;
    line-height: 1.6;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #daac56;
    padding: 1rem;
}

header img {
    height: 80px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

header nav a {
    padding: 6px 12px;
    background-color: #7edbef;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
}

.trip-options .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 equal columns */
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

.trip-options img {
    width: 100%;
    /* makes all images fill their column */
    height: 400px;
    /* crops images to fit without distortion */
    border-radius: 8px;
    margin-bottom: 0.5rem;
    padding: 0;
    margin: 0px
}

.trip-options h3 {
    color: #ffffff;
    font-size: 1.2rem;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {

    width: 100%;
    object-fit: cover;
}

.hero h1,
.hero p,
.hero .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hero h1 {
    top: 10%;
    font-size: 5rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    opacity: 0.8;
}

.hero p {
    top: 60%;
    padding: 0.5rem 2rem;
    position: absolute;
    font-size: xx-large;
    background: #010009;
    opacity: 0.6;
    border: 1rem;
}

.contact-right {
    display: grid;
    background-color: #daac56;
    top: 80px;
    text-align: center;
    position: absolute;
    float: left;
    margin: auto;

}

.contact-right form {
    margin: var(--accent1-color) border-radius: 2 rem;

    padding: 5px;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: #aee5f1;
    padding: 20px;
    max-width: 100%;
    margin: 40px auto 0;
}

footer nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

footer img {
    width: 60px;
}