:root {
    --primary-color: #066a05;
    --secondary-color: #f4a451;
    --accent1-color: #272553;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #ffffff;
    line-height: 1.6;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #daac56;
    padding: 1rem;
}

header img {
    height: 80px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

header nav a {
    padding: 6px 12px;
    background-color: #7edbef;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
}

.trip-options .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 3 equal columns */
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

.trip-options img {
    width: 100%;
    /* makes all images fill their column */
    height: 400px;
    /* crops images to fit without distortion */
    border-radius: 8px;
    margin-bottom: 0.5rem;
    padding: 0;
    margin: 0px
}

.trip-descriptions .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 3 equal columns */
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

.trip-descriptions img {
    width: 100%;
    /* makes all images fill their column */
    height: 800px;
    /* crops images to fit without distortion */
    border-radius: 8px;
    margin-bottom: 0.5rem;
    padding: 5px;
    margin: 2px;
}

.trip-descriptions h2,
p {
    text-align: center;
    position: relative;
}

.cta {
    background-color: #ffffff;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    border-right: 2rem;

}

.cta h2 {
    font-size: 1.5rem;
    color: #000d98;
}

.cta p {
    color: #010009;
    font: caption;
}

.cta img {
    display: flex;
    margin: 2rem;
}

.trip-options h4 {
    color: #ffffff;
    font-size: 1.2rem;
}

.trip-table {
    display: grid;
}

.trip-table th {
    text-align: start;
    font-size: larger;
    color: #6f00ff;
    text-underline-position: initial;

}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: #aee5f1;
    padding: 20px;
    max-width: 100%;
    margin: 40px auto 0;
}

footer nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

footer img {
    width: 60px;
}